@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.addmovie-main-containers {
  width: 1280px;
  height: 720px;
  background-color: rgb(0, 0, 0);
}

.addmovie-main-containers .addmovie-header {
  padding: 15px 20px;
  /* display: flex; */
}

.addmovie-add-movie {
  color: white;
  /* flex-basis: 50%; */
  margin-left: 40%;
  margin-top: -30px;
}

.addmovie-details {
  color: var(--Wight, #FFF);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 80px;
}

.addmovie-line-one{
  display: flex;
  gap: 50px;
}
.addmovie-line-two{
  display: flex;
  gap: 50px;
}

.addmovie-details input{
  width: 297px;
height: 36px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #FFF;
opacity: 0.5;
}


.addmovie-genre .addmovie-genre-select{
  width: 297px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #FFF;
  opacity: 0.5;
}
.addmovie-tex-area{
  width: 939px;
height: 112px;
flex-shrink: 0;
border-radius: 4px; 
border: 1px solid #FFF;
opacity: 0.5;
}





/* Error messages */
.error-message {
  color: red;
  margin: 5px 0;
}


.all-inputs{
  background-color: black;
  color: white;
  border: 1px solid grey;
}
.year-picker{
  background-color: black;
}
.ant-picker:hover{
  border-color: gray;
}
.ant-picker .ant-picker-input >input{
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bolder;
}
.ant-picker-focused.ant-picker{
  border-color: gray;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    outline: 0;
}
.addmovie-submit{
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-family: 'poppins ';
}