/* Style the navbar */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");


.home-page {
  background-color: black;
 
}
.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navbar .middle {
  margin-left: 170px;
}
/* style the search bar */
.search {
  cursor: pointer;
}
.search-bar {
  /* visibility: hidden; */
  width: 20px;
  height: 35px;
  margin-right: 10px;
  transition: 0.5s;
  width: 200px;
  height: 35px;
  border-radius: 4px;
  border: none;

}
.search-bar:focus {
  outline: none;
}
/* .search:hover > .search-bar {
  visibility: visible;
  transition: 0.5s;
  width: 200px;
  height: 35px;
} */
/* Style the logo */
.logo img {
  height: 50px;
  width: auto;
}

.categories {
  display: flex;
  list-style: none;
  padding: 0;
}
.categories .active {
  color: white;
}
.categories li {
  margin-right: 20px;
  color: gray;
  cursor: pointer;
}

.categories a {
  text-decoration: none;
  color: #fff;
  padding-left: 6px;
  font-family: "Poppins", sans-serif;
  color: gray;
  cursor: pointer;
}
.right-side {
  display: flex;
  align-items: center;
  gap: 24px;
}

.right-side {
  padding-right: 90px;
}
.right-side .add-movie .btn-primary {
  background-color: white;
  color: black;
  border: none;
  margin-left: 5px;
}
/* curosel */
.curosel {
  padding-top: 19px;
}
.curosel .carousel-slide {
  position: relative;
  width: 100%;
  height: 427px;
}

.curosel .carousel-slide img {
  object-fit: cover;
  padding-left: 115px;
}

.overlay-text {
  position: absolute;
  bottom: 45px;
  left: 75px;
  color: #fff;
}
.overlay-text .movie-name {
  font-size: 16px;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
 
}
.overlay-text .add {
  font-size: 16px;
  line-height: 18px;
  font-family: "Poppins", sans-serif;
  padding-top: 5px;
}
.overlay-text .hour {
  padding-top: 5px;
  font-size: 12px;
  line-height: 18px;
  font-family: "Poppins", sans-serif;
}
.overlay-text .like-unlike .like,
.unlike,
.curosel-description {
  padding-top: 5px;
  font-size: 12px;
  line-height: 18px;
  font-family: "Poppins", sans-serif;
}
.overlay-text .like-unlike i {
  padding-right: 5px;
}
.overlay-text .like-unlike {
  display: flex;
  gap: 10px;
}
.overlay-text .curosel-description {
  max-width: 475px;
    /* max-height: 55px;
    overflow: hidden; */

}

/* feature-movie */
.fearure-movie {
  padding-top: 46px;
  padding-left: 90px;
  padding-right: 90px;
}

.fearure-movie .feature-title {
  color: white;
}
.all-movie-list {
  padding-top: 16px;
}
.all-movie-list .movie-list {
  position: relative;
}
.movie-list .description {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 15px;
  visibility: hidden;
}
.movie-list .description .movie-details .movie-name {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.movie-list .description .movie-details .star {
  padding-right: 5px;
}
.movie-list .description .movie-details p {
  margin-bottom: 0;
  color: white;
}
.movie-list .description .movie-details .movie-year {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  line-height: 12px;
  color: white;

}

.movie-list .description .reactions {
  color: white;
  display: flex;
  gap: 5px;
}
.movie-list .description .reactions span {
  margin-left: 5px;
}
.all-movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.movie-list {
  cursor: pointer;
}
.movie-list .image{
  max-width: 134px;
    max-height: 171px;
    width: 100%;
}
.movie-list .image img{
  width: 100%;
  height: 171px;
}
.movie-list:hover .image{
  opacity: 40%;
}
.movie-list .image:hover ~ * {
  visibility: visible;
  transition: 0.1s;
}


.movie-list .description:hover {
  visibility: visible;
}
.movie-list .favorate {
  position: absolute;
  top: 6px;
  right: 6px;

}

/* single movie */

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-left-side {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 30px;
  width: 40%;
}

.image-right-side {
  background-color: #fff;
  padding: 30px;
  width: 60%;
}



.ant-modal .ant-modal-content {
  background-color: black;
  border: 1px solid white;
}
.add-main-container {
  color: white;
}
.add-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-details .top-inputs,
.bottom-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-family: "Poppins", sans-serif;
}
.movie-details input {
  border-radius: 4px;
  background-color: black;
  color: white;
  border: 1px solid gray;
}
.movie-details input,
progress {
  width: 297px;
  height: 36px;
}
.general-details .description {
  width: 100%;
  height: 112px;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
.top-inputs .error {
  height: 20px;
}
.add-movie-error {
  height: 20px;
  margin-bottom: 0;
  color: red;
}
.ant-modal .ant-modal-footer .ant-btn + .ant-btn {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}
.general-details textarea {
  padding: 5px;
}
.body-container {
  padding: 0px 75px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
.uploaded-img{
  max-width: 131px;
}
.uploaded-img .image-upload{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  padding-top: 10px;

}

.image-upload .image-upload-btn{
  padding-top: 8px;
  font-family: "Poppins", sans-serif;
}
.preview-image{
  width: 113px;
  height: 175px;
  border: 1px solid black;
  /* position: absolute; */
  
}
.preview-image img{
  width: 113px;
  height: 175px;

}
.ant-picker-focused.ant-picker {
  background-color: black;
  border: 1px solid grey;
}
.ant-picker {
  background-color: black;
}
.ant-picker .ant-picker-input > input {
  color: white;
}
.ant-input-number {
  background-color: black;
}
.ant-input-number .ant-input-number-input {
  color: white;
}
.ant-input-number:hover {
  border: 1px solid gray;
}
.ant-rate {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.ant-select-single .ant-select-selector{
  background-color: black !important;
  color: white !important;
  border: 1px solid grey !important;
}



/* pagination */

.pagination{
  padding-left: 85px;
}
.ant-pagination-item-active a {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #fff; 
}


.ant-pagination-item:not(.ant-pagination-item-active) a {
  background-color: #f0f0f0; 
  border-color: #d9d9d9; 
  color: #000; 
}


.ant-pagination-prev, .ant-pagination-next {
  background-color: #1890ff; 
  border-color: #1890ff; 
  color: #fff; 
}


.ant-pagination-prev-icon, .ant-pagination-next-icon {
  font-size: 18px; 
}


.ant-pagination-prev:hover, .ant-pagination-next:hover {
  background-color: #40a9ff; 
  border-color: #40a9ff; 
}


.ant-pagination-prev.ant-pagination-disabled, .ant-pagination-next.ant-pagination-disabled {
  background-color: #ccc; 
  border-color: #ccc; 
  color: #fff; 
}

.ant-picker-dropdown .ant-picker-header {
  display: flex;
  padding: 0 8px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  background: black;
  color: white;
  border: 1px solid white;
}
.ant-picker-dropdown .ant-picker-header >button {
  min-width: 1.6em;
  font-size: 14px;
  color: white;
}
.ant-picker-dropdown .ant-picker-year-panel .ant-picker-body, :where(.css-dev-only-do-not-override-xu9wm8).ant-picker-dropdown .ant-picker-quarter-panel .ant-picker-body, :where(.css-dev-only-do-not-override-xu9wm8).ant-picker-dropdown .ant-picker-month-panel .ant-picker-body {
  padding: 0 8px;
  background-color: black;
  border: 1px solid white;
}
.ant-picker-dropdown .ant-picker-year-panel .ant-picker-cell-inner, :where(.css-dev-only-do-not-override-xu9wm8).ant-picker-dropdown .ant-picker-quarter-panel .ant-picker-cell-inner, .ant-picker-dropdown .ant-picker-month-panel .ant-picker-cell-inner {
  width: 60px;
  color: white;
}

.ant-select-dropdown .ant-select-item-option {
  display: flex;
  color: white;
}
.rc-virtual-list-holder-inner {
  background-color: black;
}

.nodata img{
  width: 100%;
  height: 500px;
margin-left: 50%;
}